footer {
  background: var(--green-vogue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 0.75rem;
  align-items: center;
  padding: 1rem 0;
  filter: invert(1);
}

.footer-links {
  display: flex;
  column-gap: 1rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
}
