$LightSteelBlue: rgb(175, 165, 211);
$WhiteSmoke: rgb(235, 239, 243);
$DarkSlateGrey: rgb(38, 40, 43);
$MediumBlue: rgb(19, 19, 245);
$DarkKhaki: rgb(176, 209, 105);
$LightSlateGray: rgb(111, 123, 161);
