// colors
$seashell: #f1f1f1;
$violent-violet: #1E0E62;
$haiti-06: #15143999;

// main widths
$max-width-xl: 1150px;
$max-width-xxs: 400px;

// breakpoints
$breakpoint-xxs: 400px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// component widths and spacings
$stack-card-width: 13.5rem;
$card-inner-gap: 5px;

//font sizes
$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-sm: 1.125rem;

// shadows
$initial-shadow: 0 5px 5px 1px rgba(29, 14, 98, 0.2);
$hover-shadow: 0 5px 10px 1px rgba(29, 14, 98, 0.3);
$sm-initial-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.4);
$small-hover-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.5);