@media screen and (min-width: 500px) {
    .containercards {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 900px) {
    .containercards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .containercards {
        grid-template-columns: repeat(4, 1fr);
    }
}
