// Custom Properties (CSS Variables)

:root{
    --color-white: #ffffff;
    --color-alto: #dcdcdc;
    --color-yellow: #FFFF00;
    --color-blue: #0000FF;
    --color-red: #FF0000;
    --color-wild-Sand: #f5f5f5;
    --color-black: #000000;
}

// ASS Variables
$breakpoint-large: 992px;