$malachite: #0DB769;
$athensGray: #F3F4F6;
$grannyApple: #dbf7ea;
$doveGray: #626262;
$justWhite: #fff;
$blueWhale: #042940;
$instagramColor: #f77737;
$twitterColor: #1da1f2;
$linkedInColor: #004182;
$githubColor: #6cc644;