.posts {
  margin: 1em;
  padding: 0.3em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

article {
  padding: 1em;
  border: 1px solid var(--color-primary);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1em;
}
.article-head {
  text-align: center;
}
.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-footer {
  display: flex;
  justify-content: space-between;
}

article img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}
article a {
  align-self: flex-end;
}

@media (min-width: 1024px) {
  .posts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 1em auto;
    gap: 2em;
    width: 60%;
    max-width: none;
  }
  article:not(.principal) {
    flex-basis: 46%;
  }
  .article-head {
    width: 100%;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  article img {
    max-width: 300px;
    object-fit: contain;
  }

  .principal {
    flex-direction: row;
  }
}
