header {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.header-img {
  height: 115px;
  width: 40%;
  max-height: 115px;
  object-fit: cover;
  flex-shrink: 1;
}
.header-content {
  text-align: center;
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media (min-width: 600px) {
  header {
    height: auto;
  }

  .header-img {
    display: none;
  }
  .header-content {
    display: flex;
    flex-direction: row;
  }

  .header-content h1 {
    width: 100%;
  }
}
