$gamboge: #f28c0f;
$chablis: #ffffff;
$black: black;
$DoveGray:rgba(112, 112, 112, 0.092);
$DoveGray-transparent:rgba(112, 112, 112, 0.163);
$font-family-p: "Inter", sans-serif;
$font-family-s: "Roboto Slab", serif;

$Shadow: 0 0 20px rgba(0, 0, 0, 0.15);

@mixin section-padding($arriba, $costados) {
  padding: $arriba $costados;
}
