@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, #074b9e 53%, rgb(6, 112, 134) 100%);
}

ul,
p,span {
    list-style: none;
    color: #334155;
}

ul{
    padding: 0;
}

.caption{
    margin: 26px 0;
}

footer {
    font-size: 1rem;
    color: rgba(255, 255, 255, 25%);
    width: 100%;
    margin: 0 0 0.7rem 0;
}

input,textarea{
    border: 1px solid #cbd5e1;
 }
 
 input:focus, textarea:focus{
     border-color: #00d4ff;
     outline: 0;
     box-shadow: 0 0 0 0.25rem rgba(42, 177, 240, 0.20);
 }

 textarea{
    resize: vertical;
 }
 button{
    margin-top: 20px;
    background:#0891b2;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #0c4a6e;
    color: #0f172a;
    font-size: 1rem;     
    text-shadow:1px 1px 3px rgba(64, 64, 64,0.6);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    padding: 10px 7px 10px 7px;
}
button:hover{
    background-color: #0e7490;
}

button:active{
    background:#164e63;
    box-shadow: -1px -1px 0 rgba(0,0,0,0.5);
}

.container {
    background-color: #fff;
    padding: 40px 25px;
    border-radius: 7px;
    margin: 3rem 0 20px 0;
}

.heading {
    font-size: 2rem;
    margin-top: 5px;
}

.subheading {
    font-weight: 500;
    margin: 1.5rem 0;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #00d4ff;
}

  .link:visited {
    color: #074b9e;
}  

.link:hover {
    color: #067086;
}

.input-style{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 3px;
    margin: 10px 0;
}

.form-container{
    background-color: #fff;
    border-radius: 7px;
    margin: 3rem auto 0 auto;
    padding: 7rem 3rem 3rem 3rem;
    width:50%;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}
.form-heading{
    font-size: 2rem;
   margin:-2.2rem 0 0 0;
}