$color-snow: #ffffff;
$color-alabaster: #fafafa;
$color-whitextreme: #ece2de;
$color-alabastershadow: #ece2dee6;
$color-grayfield: #d1d5dbe6;
$color-peat: #6A6555;
$color-peatshadow: #747474cb;
$color-peatvariety: #d1d5db5e;
$color-graygood: #6964544d;
$color-grayslow: #69645433;
$color-mischka: #d1d5db;
$color-greensmoke: #071d18;
$color-greenslow: #2f8c79;
$color-greenpea: #16574A;
$color-greenpeadark: #16574ae9;
$color-cuttysark: #4D8076;
$color-blackshadow: #0000004d;
$color-woodsmoke: #121414;

$breakpoint-middle: 590px;
$breakpoint-large: 992px;