$color-padua: #a8e4ce;
$color-icecold: #bbf7d0;
$color-patinaslow: #72c4a4d2;
$color-cuttystark: #4D8076;
$color-patina: #6ba590;
$color-tunder: #323132;
$color-woodsmoke: #151616;


$breakpoint-middle: 590px;
$breakpoint-middlexl: 720px;
$breakpoint-large: 890px;