.footer {
    display: flex;
    max-height: 150px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to top, var(--sky-800), var(--sky-950));
    background-color: var(--sky-950);
    color: var(--sky-100);
    gap: 12px;
}

footer > h1 {
    color: var(--text-title);
    font-size: 1.2em;
    font-weight: bold;
}

.footer a,
.footer strong {
    color: var(--sky-100);
    text-decoration: none;
}

.footer .social {
    display: flex;
    max-width: 50em;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}