body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
 
}

* {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, #074b9e 53%, rgb(6, 112, 134) 100%);
}

a {
    text-decoration: none;
    color: #00d4ff;
}

a:hover {
    color: #067086;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul,p{
 color:#334155;
}

.heading {
    font-size: 26px;
    margin: 1rem auto;
}

.center {
    text-align: center;
}

.bold{
    font-weight: bold;;
}

.subheading {
    font-size: 24px;
    margin: 1rem auto;
    font-weight: normal;
}

.container {
    background: #fff;
    width: 77%;
    display: flex;
    margin: 1.5rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 7px;
    padding: 20px 30px;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top:-1rem;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 25%);
}

/* media queries for larger screens */
@media only screen and (min-width: 880px){
    .container{
        width: 55%;
    }
}

@media only screen and (min-width: 1200px){
  .container{
    width: 44%;
  }
}

/* contact form styles */
input,textarea{
    border: 1px solid #cbd5e1;
 }
 
 input:focus, textarea:focus{
     border-color: #00d4ff;
     outline: 0;
     box-shadow: 0 0 0 0.25rem rgba(42, 177, 240, 0.20);
 }

 textarea{
    resize: vertical;
 }

 .caption{
    margin: 26px 0;
}

 button{
    margin-top: 20px;
    background:#0891b2;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #0c4a6e;
    color: #0f172a;
    font-size: 1rem;     
    text-shadow:1px 1px 3px rgba(64, 64, 64,0.6);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    padding: 10px 7px 10px 7px;
}
button:hover{
    background-color: #0e7490;
}

button:active{
    background:#164e63;
    box-shadow: -1px -1px 0 rgba(0,0,0,0.5);
}

.input-style{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 3px;
    margin: 10px 0;
}

.form-container{
    background-color: #fff;
    border-radius: 7px;
    margin: 3rem auto 2rem auto;
    padding: 7rem 3rem 3rem 3rem;
    width:50%;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}
.form-heading{
    font-size: 2rem;
   margin:-2.2rem 0 0 0;
}