@use "./variables.scss" as var;

@media screen and (min-width: var.$breakpoint){
  .header-list{
    padding: 0 1em;
    flex-direction: row;
  }

  h3{
    font-size : 1.5em;
  }

  h5{
    font-size: 1em;
  }

  p{
    font-weight: 400;
  }
}