// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.btnportfolio{
    background: rgb(79, 203, 162);
}


h3{
    background-color: rgb(79, 203, 162);
}

.conta, .btnenviar{
    background-color: rgb(79, 203, 162);

}