// Variables de colores
$mine-shaft: #282828;
$tundora: #303030;
$medium-purple: #886CE4;
$purple-heart: #6341D8;
$alto: #d1d1d1;
$buton-shadow: rgba(0,0,0, 0.5);
$container-shadow: rgba(0,0,0, 0.7654321);
$guillermo-color-main: #CDB26B;
$guillermo-color-focus: #cf842e;
$principal-card: radial-gradient(circle, #8b5cf6, #8251ea, #7947de, #703cd2, #6731c6, #5f2ab9, #5724ad, #4f1da1, #461a92, #3e1782, #361374, #2e1065);
$form-card: linear-gradient(
    215deg,
    hsl(0deg 0% 19%) 0%,
    hsl(267deg 33% 28%) 14%,
    hsl(264deg 55% 36%) 24%,
    hsl(264deg 64% 40%) 32%,
    hsl(266deg 45% 32%) 39%,
    hsl(269deg 19% 23%) 46%,
    hsl(269deg 19% 23%) 52%,
    hsl(266deg 45% 32%) 60%,
    hsl(264deg 64% 40%) 68%,
    hsl(264deg 55% 36%) 78%,
    hsl(267deg 33% 28%) 88%,
    hsl(0deg 0% 19%) 100%
);
$skills-cards: linear-gradient(to top, #424242, #423e4d, #423a58, #443561, #472f6a, #472f6a, #472f6a, #472f6a, #443561, #423a58, #423e4d, #424242);


// Colores de tailwiwndCss [Violet]
// https://tailwindcss.com/docs/customizing-colors

$v50: #f5f3ff;
$v100: #ede9fe;
$v200: #ddd6fe;
$v300: #c4b5fd;
$v400: #a78bfa;
$v500: #8b5cf6;
$v600: #7c3aed;
$v700: #6d28d9;
$v800: #5b21b6;
$v850: #551fac;
$v900: #4c1d95;
$v950: #2e1065;

// // // // // // // // 


