:root {
    --color-black: #000;
    --color-porcelain:#ecf0f1;
    --color-mine-shaft:#3b3b3b;
    --color-mystic:#d8dee9;
    --color-danube:#69C;
    --color-white:#FFF;
    --color-jelly-bean:#2C74B3;
    --color-dusty-gray:#9B9292;
    --color-lightgray:#d3d3d3;
}