$family-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$color-border : rgb(192, 190, 190);
$color-background: WhiteSmoke;
$color-button: rgb(235, 235, 235);
$color-hamburger: Gainsboro;