@use 'tools.scss';

/* ========= NAV-BAR ========= */

nav {
   background-color: var(--color-night-owl);
   border-bottom: 1px solid var(--color-border);
   transform: translateY(100%);
   transition: transform 0.4s ease-out;

   @include tools.format-flex(center, center, row);
}

.show {
   transform: translateY(-24%);
   transition: transform 0.4s ease-out;
}

.logo {
   display: none;
}

.nav-bar-hamburg {
   align-self: flex-end;
   position: absolute;
   top: 4px;
   cursor: pointer;
}

.nav-bar-hamburg {
   i {
      font-size: 1.8em;
      padding: 0.3em;
   }
}

/* ========= MAIN ========= */

.main {
   background-image: url("../assets/fondo-main.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: center;
   background-position-x: center;
   opacity: 0.9;
   @include tools.format-flex(center, flex-start, column);
   padding: 3em 2em 4em 2em;
}

.main-name {
   h1 {
      margin-bottom: 0;
   }

   p {
      margin-top: 0;
      font-size: 1.2em;
   }
}

.main-btn {
   margin-top: 2em;
}

/* ========= ABOUT ========= */

.about {
   background-color: var(--color-humble-bellflower);
}

.about-content {
   margin: 2em;
   padding: 1em 1.9em;
   border-radius: 10px;
   box-shadow: 2px 3px 5px rgb(30, 30, 30, 0.5);
}

.about-content {
   h2 {
      font-size: 2em;
   }

   p {
      color: var(--color-title);
   }
}

/* ========= SKILLS ========= */

.skills {
   background-color: var(--color-section);
}

.skills {
   section {
      margin: 2em 0;
   }

   h2 {
      margin-top: 0;
      margin-bottom: 50px;
      text-align: center;
      font-size: 2em;
      color: var(--color-humble-bellflower);
   }
}

/* ========= CONTACT ========= */

.contact {
   background-color: var(--color-humble-bellflower);
}

.contact {
   article {
      margin: 0 auto;
      width: 350px;
      padding: 2em;
   }

   h2 {
      text-align: center;
      font-size: 2em;
      margin-top: 0;
   }
}

.form-group {
   margin: 0 auto 1em;
}

/* ========= FOOTER ========= */

.footer {
   border-bottom: 1px solid var(--color-border);
   margin-bottom: 3em;
   background-color: var(--color-night-owl);
   padding: 2em;
}

footer {
   @include tools.format-flex(stretch, stretch, column);
   gap: 2em;
}

.contenedor-footer {
   @include tools.format-flex(stretch, center, column);
   gap: 1em;
}

.footer-bio {
   span {
      display: block;
      font-size: 1.5em;
      text-align: center;
   }

   p {
      line-height: 1.5em;
      font-size: 0.9em;
      text-align: center;
   }
}

.copy {
   display: block;
   text-align: center;
   font-size: 0.7em;
}