/* ========= VARIABLES ========= */
:root {
   --color-night-owl: #111827;
   --color-humble-bellflower: #c0cee6;
   --color-links: #cbd5e1;
   --color-links-hover: #69c;
   --color-title: #4b5563;
   --color-border: #505f78;
   --color-section: #1F2937;
   --color-form: #e5e7eb;
   --color-form-second: #7182a2;

   --container-max-width: 1000px;

}