.title{
  color: #f0f0f0;
  padding-bottom: 20px;
  text-align: center;
}

.text{
  color: azure;
}

.btn{
  display: block;
  width: 180px;
  padding: 14px 3px;
  margin: 20px auto;
  background: #2253da;
  border-radius: 4px;
  color: #f0f0f0;
  text-align: center;
}