.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; 
}

.navigation{
    display: flex;
    list-style: none;
    gap: 8px;
}

.navigation a:hover{
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: underline;
}