$papayawhite: papayawhip;

$scandal: #C8F8F9;

$humoblanco: whitesmoke;

$piedrazul: #035e61;

$polvora: #a19c9c;

$color-input-search-border: gainsboro;

$chicle: rgb(56, 161, 175);
$chicle2: rgb(68, 199, 199);
$chicle3: rgb(52, 143, 143);