/* Variables de Colores */
$emperor: #555;
$mineShaft: #333;
$gallery: #eee;
$amaranth: #e81c4f; 
$outerSpace: #263d36;
$white: #ffffff;
$gray: #808080;
$blue: #0000FF;
$calico: #deb887;
$alabaster: #fafafa;
$alto: #d3d3d3;
$corn: #eab308;
$candleLight: #facc15;
$pirateGold: #ca8a04;
$tundora: #444444;
$sepia: #713f12;
