$mirage: #1b1c34;
$white: #fff;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: 'Courier New', Courier, monospace;
$background-AthensGray: #f3f5f7;
$background-white: #fff;
$background-bunker: #0f1616;
$background-tundora: #404040;