@import "variables.scss";

// Blocks

body {
    margin: 0 auto;
    max-width: auto;
    height: 100%;
    line-height: 1.5;
    padding: 0;
    background-color: $alabaster;
    font-family: $main-typography;
}

a {
  text-decoration: none;
}

html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

// List

ul {
  list-style: none;
}

// Form

button,
input,
select {
  margin: 0;
}

// Box sizing

html {
  box-sizing: border-box
}

* {
  box-sizing: inherit
}
