// Colors

$crusta: #FA793C;
$neonCarrot: #FA993C;
$outrageousOrange: #FA693C;
$alto:#D9D9D9;
$codGrey: #1E1E1E;
$haiti: #0A0D29;
$alabaster: #F7F7F7;
$linkWater: #FBFCFE;

// Typography

$logo-typography: 'Pridi', serif;
$menu-typography: 'ABeeZee', sans-serif;
$main-typography: 'Kanit', sans-serif;
