

h2{
    margin-top: 1em;
    padding-top: 1em;
}

h1,h2,h3{
    
    color: var(--color-greenhaze);
    
}
.info h2, strong{
  color: var(--color-dolly);
}
.presentacion{
  color: var(--color-candlelight);
}
.parrafo1{
    color: var(--color-corn);
    font-size: 22px;
    font-weight: 600;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}
pre{
    padding: 1em;
    border-left: 2px solid rgb(58, 96, 133);
}
a {
    color: var(--color-amaranth);
  }
  body{
    color: var(--color-mako);
  }
  header{
    background-image: url("/imagenes/imagen.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  header {
    line-height: 1.2;
    padding: 3vw 6em;
    text-align: center;
    width: 100%;
  }
  header img {
    display: inline-block;
    height: 160px;
    vertical-align: top;
    width: 160px;
    border-radius: 50%;
  }
  header h1 {
    color: var(--color-dolly);
    font-size: 2.5em;
    font-weight: bold;
  }
  
  header a, div a {
    border: 3px solid var(--color-corn);
    border-radius: 290486px;
    color: var(--color-dolly);
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
  header a:hover, div a:hover {
    background: var(--color-corn);
    color: var(--color-black);
  }
 .contact{
    background-image: url("/imagenes/imagen2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% ;
    line-height: 1.2;
    padding: 4vw 1em;
    text-align: center;
  }

  .page{
    display: flex;
    flex-direction: column;
  }
  section, header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }
  .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .aprender{
    display: flex;
    min-width: 300px;
    flex-direction: column;
    justify-content: center;
  }

  .habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .estudios{
    display: flex;
    flex-direction: column;

  }
  .header{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
  }
  .siguiente{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }