/*Desktop First, responsive Query*/

@media screen and (min-width: 992px){
    .feature{
      display: flex;
      width: 100%;
      align-content: center;
    }
    .feature{
      text-align: center;
      
    }
    .header{
      max-width: 700px;
    }
    .aprender{
      order: 3;
    }
    .habilidades{
      order: 2;
    }
    .estudios{
      order: 2;
    }
    .siguiente{
    order: 2;
    }
  }