
:root{
--color-greenhaze: #059669;
--color-dolly: #fef08a;
--color-candlelight: #facc15; 
--color-corn:#eab308;
--color-amaranth: #e81c4f;
--color-mako:#40484d;
--color-black: #000000;
--color-codgray: #1c1917;
}