@import 'colors';

body {
  margin: 0 auto;
  font-family: "Outfit", Georgia;
  background-color: $color-background;

  line-height: 1.5;
  color: $color-primary;
}

nav {
  padding: .5rem 2rem;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 1%;
  right: 2%;
  left: 2%;
  color: $color-secundary;
  opacity: .95;

  border-radius: 8px;
  z-index: 100;
}

.nav-head {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 1.5rem;

  transition: all .3s ease;
}

.nav__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.nav-button {
  display: none;
}

.center {
  text-align: center;
  margin-top: 2em;
}

.text-justify {
  text-align: justify;
}

.article {
  margin: 3em auto;
  font-size: 1.3em;

  
}
.section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;

  max-width: 900px;
  padding: 2em 1em;
  margin: 0 auto;

  .section-title {
      font-size: 1.5em;
      text-decoration: underline $color-secundary;
      text-align: center;
  }

  .section-subtitle {
      margin: 1em auto;
      text-align: center;
      font-size: 1.5em;
  }
}

.perfil {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .aside-perfil {
      text-align: center;
      flex-basis: 30%;
      flex-grow: 1;

      color: $color-background;
      background-color: $color-primary;
      border-radius: 15px;

      padding: 1.5rem;

      figure {
          margin-bottom: 1em;
      }

      .aside-title {
          font-size: 1.17em;
          text-decoration: none;
      }

      .aside-subtitle {
          font-size: 1em;
          text-align: justify;
      }

      .aside-perfil__content {
          text-align: justify;

          i {
              font-size: 1.8rem;
          }
      }

      .aside-perfil__img {
          width: 200px;
          height: 200px;
          border: 2px solid $color-secundary;
          border-radius: 50%;
          object-fit: cover;
      }
  }

  .perfil__content {
      flex-basis: 60%;
      flex-grow: 1;

      padding: 1em;
  }
}

.typewriter-effect {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid $color-secundary;
  width: 24ch;

  animation: typing 2.5s steps(24), blink .5s infinite step-end alternate;
  overflow: hidden;
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

@keyframes typing {
  from {
      width: 0;
  }

  to {
      width: 25ch;
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}

.project-principal {
    grid-area: principal;
}

.project-a {
    grid-area: project-a;
}

.project-b {
    grid-area: project-b;
}

.projects {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;

}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;

  padding: 1.5em;

  border: 2px solid $color-primary;
  border-width: 5px 0;
  border-radius: 20px;

  color: $color-primary;
  font-size: .7em;

  i {
      font-size: 2em;
  }

}
.project__content {
  flex: 1 1 50%;
}

.project__link {
  flex: 1 1 45%;
  align-self: center;
}

.project__img {
  max-width: 100%;
  border-radius: 10px;

  &:hover {
      opacity: .8;
  }
}

.project-vertical {
  flex-direction: column;
  flex-wrap: nowrap;
}

.contact {
  a {
      color: var(--color-primary);
      text-decoration: none;

      &:hover {
          text-decoration: underline var(--color-secundary);
      }
  }

}


footer {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  gap: 2em;


  background-color: $color-primary;
  padding: .5rem 2rem;
  color: $color-secundary;

  p {
      grid-column: 1/3;
      margin: auto 0;
  }

  ul {
      grid-column: 3/4;

      display: flex;
      gap: 1rem;

      margin: auto;
  }

  a {
      color: $color-background;
      text-decoration: none;
      font-size: 1.5em;
  }
}

form {
  accent-color: $color-secundary;
  .contact-form {
   padding: 2em;
   border: 2px solid $color-primary;
   border-width: 0 5px;
   border-radius: 20px;
  
   width: 80%;
   max-width: 700px;
  
  }
  
  .form-row label{
    display: block;
    margin: .3em 0;
  
    font-weight: 600;
  }
  
  .form-input {
    width: 100%;
    padding: .4em .5em;
    background-color: #f9f9f9ec;
  
    border: 1px solid $color-primary;
    border-radius: 5px;
  
    font-size: .8em;
    
    &:focus, &:focus-visible{
      border: none;
      outline: 1px solid $color-secundary;
    }
  }
  
  
  .form-text {
    resize: vertical;
  }
}

.button {
  padding: .4em 1.6em;
  font-size: 1em;
  font-weight: 600;

  background-color: $color-secundary;

  border: 1px solid #eab308;
  border-radius: 40px;
  cursor: pointer;

  box-shadow: 1px 1px 3px #00000080;
  &:hover {
      background-color: #fde047;
    }
    
  &:active {
      transform: scale(.99, .99 );
      box-shadow: none;
    }
}



@media screen and (min-width:501px) {
  $areas: "principal principal principal principal"
  "project-a project-a project-b project-b";

  .container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: $areas;

    gap: 20px;

  }
}