@use "desktop";
@use "base";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 88px;
    font-family: "Outfit", Georgia;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
