.tag {
    background-color: transparent;
    border-color: transparent;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: var(--body-font);
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    position: relative;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

[data-tag="css"] {
    background-color: var(--css3-color);
    border-color: var(--css3-color);
}

[data-tag="html"] {
    background-color: var(--html-5-color);
    border-color: var(--html-5-color);
}

[data-tag="javascript"] {
    background-color: var(--javascript-color);
    border-color: var(--javascript-color);
    color: #24292f;
}