.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(80, 95, 25, 0.87);
  background-color: aliceblue;
}

.body {
  display: grid;
  align-items: center;
  margin: 1px;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
}

.img:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

@media screen and (max-width:992px){
  .body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    height: 100%;
    padding: 0.3rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(80, 95, 25, 0.87);
    background-color: aliceblue;
  }

  #breeds {
    margin: 0;
    padding: 0;
  }
}

