$emperor: #555555;
$mineShaft: #333333;
$gallery: #eeeeee;
$jade: #00bb6e;
$outerSpace: #263D36;
$vistaWhite: #FCF8F7;
$pacificBlue: #009ec3;
$silver: #cccccc;
$orient: #005577;
$funGreen: #007733;

$tablet: 768px;

