/* Colors */
$blackWhite: #fffffe;
$brightTurquoise: #00ebc7;
$wildWatermelon: #ff5470;
$mustard: #fde24f;
$bigStone: #1b2d45;
$prussianBlue: #00214d;

/* Fonts */
$ff-primary: 'Inter', sans-serif;
$ff-accent: 'Rock Salt', cursive;
