html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}


body {
    background: #aaa69d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}