:root {
  --color-white: #fff;
  --color-black-pearl-50: #e4ebee;
  --color-black-pearl-900: #1b262c;
  --color-black-pearl-700: #3c5562;
  --color-black-pearl-400: #7799ac;

  --color-aquarius-100: #c5eaf0;
  --color-aquarius-900: #0d2e32;

  --container-max-width: 1180px;
}
