html,body{
    box-sizing: border-box;
    background: #f9fafb
  }
  
  *{
    box-sizing: border-box;
  }
  
  body{
      margin: 0 auto;
      max-width: 100%;
  }
  body{
      font-size: 18px;
      font-family: 'Fira Sans', sans-serif;
  }
