// Paragraph/SM/Regular
.paragraph {
  color: var(--color-black-pearl-700);
}

.paragraph-sm {
  font-size: 16px;
  line-height: 22px;
}

.paragraph-xs {
  font-size: 13px;
  line-height: 19px;
}

.is-help-text {
  color: var(--color-black-pearl-400);
}
