@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Raleway:wght@400;600&family=Titillium+Web:wght@400;600&display=swap');

$malibu: #66a6ff; // primaryColor
$viking: #57d6df; //secondColor
$white: #ffffff; //whiteColor
$fontTitle: 'Titillium Web', sans-serif;
$fontMain: 'Raleway', sans-serif;
