header {
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.tag {
  padding: 8px;
  background: var(--aqua-island);
  border-radius: 0 8px 8px 0;
  border-left: 3px solid var(--prussian-blue);
  color: var(--prussian-blue);
  display: inline-block;
  font-weight: bold;
  width: 415px;
}

.logo {
  width: 52px;
  height: 52px;
  padding: 8px;
  border-radius: 50%;
  background: var(--hint-of-green);
}

.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  bottom: -15px;
}

.tag-content {
  width: 0px;
  transform: translateX(-20px);
  transition: width 0.3s, transform 0.5s;
  transition-timing-function: ease;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  header {
    position: sticky;
  }
}

@media screen and (min-width: 768px) {
  .logo-container:hover > .tag-content {
    transform: translateX(20px);
    transition: width 0.5s, transform 1s;
    width: 415px;
  }

  .logo {
    width: 90px;
    height: 90px;
    z-index: 1;
  }

  .navbar {
    padding: 0 3rem;
  }
}
