// Custom Properties (CSS Variables)

:root{
    --color-white: #ffffff; 
    --color-azure: #3D50A9;
    --color-mine-shaft: #363636; 
    --color-gray: #8d8d8d;
    --color-seashell: #f1f1f1;
}

// ASS Variables
$desktop-media-query: 980px;
$tablet-media-query: 768px;