:root {
    --color-downrivera:#0A2647;
    --color-concrete:#f2f2f2;
    --color-matisse:#205295;
    --color-porcelain:#ecf0f1;
    --color-mine-shaft:#3b3b3b;
    --color-athens-gray:#f5f7f9;
    --color-mystic:#d8dee9;
    --color-mako:#43454b;
    --color-danube:#69c;
    --color-chathams-blue:#144272;
    --color-jelly-bean:#2C74B3;
    --color-alto:#ddd;
    --color-white:#FFF;
    --color-lightgray:#d3d3d3;
}