@import "variables.scss";

// Navbar

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: whitesmoke;
    max-width: auto;
    height: 50px;
    padding: 1em;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-logo {
    color: $mountainMeadow;
    margin-right: 4px;
}

.text-logo {
    font-family: $titleTypography;
    font-size: 18px;
    color: $mountainMeadow;
}

.nav-link {
    margin: 15px;
    color: $vistaWhite;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $gold;
    transition: all 0.5s;
}

.nav-link:hover::before {
    width: 100% !important;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

// Menu Behavior

@media (max-width: 767px) {
    .nav-items {
        position: absolute;
        top: 50px;
        left: 0;
        background: $codGrey;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 999;
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }

    .nav-link {
        text-align: center;
        font-family: $mainTypography;
        font-size: 16px;
    }

    .nav-toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav-toggle span {
        width: 28px;
        height: 2px;
        background: $vistaWhite;
        margin-bottom: 4px;
        border-radius: 4px;
        transform-origin: 6px 0px;
        transition: all 0.1s linear;
    }

    .close .top-line {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .close .mid-line {
        display: none;
    }

    .close .bottom-line {
        transform: rotate(-45deg) translate(-6px, 1px);
    }

    .open {
        transform: translateX(0) !important;
    }
}

// Header
// Hero

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin: 60px auto;
}

.image-profile {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: $gold;
    border-radius: 50%;
    cursor: pointer;
}

.image-profile:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-profile:active {
    background-color: $olive;
}

.hero h1 {
    font-family: $titleTypography;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: $mountainMeadow;
    margin-bottom: 0;
}

.hero h2 {
    font-size: 1.5rem;
    text-align: center;
}

// About

.about-me {
    padding: 20px 12px;
    font-size: 1.2rem;
}
.humanized-div {
    display: flex;
    justify-content: end;
    align-content: center;
    margin: 32px auto;
}
.humanized-div i {
    color: $vistaWhite;
    margin-right: 8px;
    font-size: 1rem;
}
.humanized-div time {
    color: $vistaWhite;
    font-size: 0.8rem;
}

// Horizontal lines

.h-line {
    border: 1px solid $gold;
    margin: 0 12px;
}

// Cards

.cards {
    display: flex;
    flex-direction: column;
    background-color: $mineShaft;
    margin: 48px 12px 0px 12px;
    padding: 4px;
    border-radius: 4px;
}

.cards h2 {
    font-family: $titleTypography;
    font-size: 1.5rem;
    text-align: center;
    color: $mountainMeadow;
}

.cards li {
    font-size: 1rem;
}

// Form

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    border-radius: 4px;
    margin: 24px auto;
}

.contact h2 {
    font-family: $titleTypography;
    font-size: 2rem;
    color: $mountainMeadow;
    margin-bottom: 0;
}

.contact p {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $mountainMeadow;
    border-radius: 8px;
    width: auto;
    background-color: $mineShaft;
    padding: 12px;
    margin: 24px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.fieldset input {
    border: transparent;
    border-bottom: 1px solid $mountainMeadow;
    background-color: transparent;
    color: $vistaWhite;
    width: 100%;
    height: 2rem;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    outline: none;
    border: transparent;
    border-bottom: 2px solid $camarone;
    background-color: $tundora;
    padding: 4px;
}

.label-input {
    margin-bottom: 24px;
    width: 100%;
}

.message-label {
    margin-bottom: 10px;
}

textarea {
    border: 1px solid $mountainMeadow;
    background-color: transparent;
    color: $vistaWhite;
    resize: none;
    overflow: hidden;
}

.message-description {
    display: flex;
    flex-direction: column;
}

textarea:focus {
    outline: none;
    border: 2px solid $camarone;
    background-color: $tundora;
    color: $vistaWhite;
    padding: 4px;
}

.agree-input {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    max-width: auto;
    margin: 24px auto;
    gap: 8px;
}

.agree-checkbox {
    accent-color: $mountainMeadow;
    cursor: pointer;
}

.agree-input label {
    font-size: 0.8rem;
    cursor: pointer;
}

.send {
    font-family: $titleTypography;
    font-size: 1.2rem;
    color: $vistaWhite;
    border: 2px solid $vistaWhite;
    border-radius: 6px;
    background-color: $mountainMeadow;
    padding: 4px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.send:hover {
    box-shadow: rgba(255, 215, 0, 0.35) 0px 3px 8px;
    background-color: $greenHaze;
    color: $alto;
    border-color: $alto;
}

.send:active {
    box-shadow: rgba(255, 215, 0, 0.35) 0px 5px 15px;
    background-color: $camarone;
    color: $alto;
    border-color: $alto;
}

footer {
    margin-top: 24px;
}

.icon-rrss {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
}

a>img {
    border: 1px solid $aztec;
    background-color: $cerise;
    filter: invert(100%);
    border-radius: 50%;
    padding: 4px;
    width: 40px;
}

a>img:hover {
    box-shadow: rgba(0, 40, 255, 0.35) 0px 3px 8px;
    background-color: $hotPink;
    color: $aztec;
    border-color: $aztec;
}

a>img:active {
    box-shadow: rgba(0, 40, 255, 0.35) 0px 3px 8px;
    background-color: $lavenderRose;
    color: $aztec;
    border-color: $aztec;
}

.copy-right {
    display: flex;
    justify-content: center;
    margin: 24px auto;
    font-family: $titleTypography;
}
