// Colors

$mountainMeadow: #1dBb54;
$greenHaze: #009b39;
$camarone: #005900;

$codGrey: #1b1b1b;
$mineShaft: #2a2a2a;
$tundora: #424242;

$gold: #ffd700;
$olive: #917800;

$vistaWhite: #fcf8f7;
$alto: #e0e0e0;

$aztec: #030708;
$cerise: #e244ab;
$hotPink: #ff64c6;
$lavenderRose: #ffa6ff;
$blue: #0028ff;

// Typography

$mainTypography: 'Montserrat', sans-serif;
$titleTypography: 'Yeseva One', cursive;
