@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;

}

* {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Work Sans';

}

body {
    color: #566b78;
    line-height: 1.5;

}

.contenedor-header {
    background: #1e2326;
    margin: auto;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

}

.contenedor-header header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 18px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #1CB698;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url("img/header.jpg");
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner h1 {
    margin-top: 1em;
    padding-top: 1em;
    font-size: 30px;
    font-family: 'Righteous';
    font-weight: 300;
}

.inicio .contenido-banner h2 {
    font-size: 22px;
    font-weight: normal;
    align-items: center;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 25px;

}

.inicio .contenido-banner .redes a:hover {
    background-color: #1CB698;
}

.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    margin: auto;
}

.sobremi .contenido-seccion h2 {
    font-size: 24px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #1CB698;
    font-weight: bold;
}

.sobremi .contenido-seccion td {
    border: 1px solid #000;

}

.sobremi .contenido-seccion td span {
    color: #1CB698;
    font-weight: bold;

}

.table-comando {
    border-spacing: 0;
    border: 1px solid #000;
    width: 95%;
}

.th-comando{
    width: 20%;
}

th,
td {
    text-align: left;
    border: 1px solid #000;
    border-collapse: collapse;
    caption-side: bottom;
    padding: 0.3em;


}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

.contacto {
    background-color: #171a1b;
    color: #fff;
    padding: 40px 20px;
}

.contacto .contenido-seccion {
    margin: auto;
}

.contacto .contenido-seccion h2 {
    font-size: 24px;
    font-family: 'Righteous';
    text-align: center;
    padding: 10px 0;
}

.contacto .contenido-seccion .contacto-form {
    max-width: 800px;
    margin: 100px auto;
    padding: 14px 40px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto .contenido-seccion .form-group {
    margin: 20px 0;
}

label,
input {
    vertical-align: middle;
}

.contacto .contenido-seccion .form-group label,
input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
    color: #fff;
    padding: 10px 10px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #1CB698;

}
fieldset{
    background: none;
    border: none;
    border-bottom: 1px solid #1CB698;
    padding: 8px 10px;
}

label, legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
    margin-top: 20px;

}

legend
{
    margin: 8px;

}
input {
    background: none;
    border: none;
    border-bottom: 1px solid #1CB698;
    border-radius: 4px;
    padding: 8px 10px;
    color: #fff;
    outline: none;
}

.help {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

select {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #171a1b;
    border-bottom: 1px solid #1CB698;
    color: #fff;
    outline: none;
}

button {
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    background-color: #1CB698;

}

button:hover{
    background: #20c9a7;
}

button:active{
    background: #0b6855;
    box-shadow: none;
}

form{
    accent-color: #1cb698;
}
