@import "./variables.scss";


@media screen and (min-width: $mobile-media-width){
    .esto {
        flex-direction: row;
    }

    .navbar {
        display: block;
    }

    .home-sci{
        justify-content: flex-start;
        gap: 40px;
        padding-left: 170px;
        margin-bottom: 40px;
    }

    .conten {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        
    
    }

    .learning-content h2 {
        margin-bottom: 40px;
    }


}
