$white: #FFFFFF;
$shark: #24292f;
$aquaHaze: #f6f8fa;
$forestGreen: #238636;
$athensGray: #f3f4f6;
$sea-green: #2ea043;
$buttonBorderActive: rgba(240, 246, 252, 0.1);
$buttonBorderHover: rgba(27,31,36,0.15);
$buttonShadowColor: rgba(27,31,36,0.04);
$buttonInsetShadowColor: rgba(255,255,255,0.25);
$darkButtonShadowColor: 0 0 transparent;
$codeBackground: rgba(175,184,193,0.2);
$cobalt: #0550ae;
$css3Color: #264de4;
$regentGray: #8b949e;
$html5Color: #f14a29;
$shuttleGray: #57606a;
$outerSpace: #30363d;
$malibu: #58a6ff;
$javascriptColor: #f0db4f;
$scienceBlue: #0969da;
$geyser: #d0d7de;
$black: #000000;
$bunker: #0d1117;
$ghost: #c9d1d9;
$shark2: #21262d;
$blackPearl: #010409;