$font-family : 'Cascadia Code', "Arial", sans-serif;

$background-color: #e5e5e5;

$btn-color: #e2e8f0;
$btn-hover-color: #a5a9ad;
$btn-active-color: #cbd5e1;

$border-input-color: #ccc;
$box-shadow: rgba(0,0,0,0.5);
$text-shadow: rgba(255, 255, 255, 0.5);

$breakpoint: 768px;