$Cararra: #f4f5f0;

$Stratos: #02023e;

$SwissCoffee: #e1d9d9;

$Amaranth: #e22248;

$Whisper: #f4f4f9;

$AliceBlue: #f0f8ff;

$Turbo: #e9e105;

$BlackWhite: #fffffe;

$Cabaret: #d54b6d;

$NavyBlue: #00008b;

$DeepBlue: #260785;

$Ultramarine: #120aa3;

$HavelockBlue: #566ed9;

$WildSand: #f5f5f5;

$MineShaft: #222222;

$MineShaft2: #3a3939;

$Lemon: #fcfc0f;

$WestSide: #ff8c0f;
