main {
  padding: 1rem;
}
.form__container {
  max-width: 40rem;
  margin: 0 auto;
}

.form__group {
  margin: 1rem 0;
}

.form__group input,
.form__group label {
  vertical-align: middle;
  width: 100%;
}

.form__group input {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.5rem 0.6rem;
}

.form__group label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #444;
}

.form__group textarea {
  display: block;
  width: 100%;
  resize: vertical;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  border: 1px solid gray;
  border-radius: 0.5rem;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: lightgray;

  font-weight: bold;
  text-transform: uppercase;
}

.form__btn:hover {
  background-color: rgb(228, 226, 226);
}

.form__btn:active {
  box-shadow: none;
}
