.heading-xxl {
    color: var(--color-cerulean-blue);
    font-size: 71px;
    line-height: 85px;
    text-align: center;
}

.heading-sm {
    color: var(--color-bunker);
    font-size: 19px;
    line-height: 28px;
}


.heading-lm {
    color: var(--color-white);
    font-size: 29px;
    line-height: 44px;
    text-align: center;

}


