@use "../tools";

.input {
  padding: 12px;
  height: 48px;
  width: 100%;
  color: var(--color-black-pearl-700);
  background: var(--color-black-pearl-100);
  border-radius: 2px;
  border: 1px solid transparent;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @include tools.desktop {
    max-width: 290px;
  }
}

input::placeholder {
  color: var(--color-black-pearl-400);
}
