body {
    background-color: var(--color-Champagne);
    max-width: 100%;
    padding: 20px;
}

header{
    text-align: center;
    padding: 0;
    margin:0;
}

h3 {
    color: var(--color-Danube);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}


@mixin layout{
    padding: 10px;
    background: var(--color-Champagne-Ligth);
    border-radius: 10px;
    box-shadow: 8px 6px 16px rgba(127, 121, 110, 8.25)
}

.article,.principal{
@include layout;
}


nav {
    display: flex;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;

}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    }

input {
    border-radius: 20px;
    padding: 0 20px;
    margin: 10px 20px;
}

img {
    width: 100%;
    height: auto;
}
