html {
    box-sizing: border-box;
    height: 100%;
}

*  {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    background-color: #dfe6e9;
    gap: 10px;
    background-image: url(https://images.unsplash.com/photo-1546984559-5a271d5a7d14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat:fit-content;

}
.bar {
    display: flex;
    justify-content: space-between;
    background-color: #f5f6fa;
    padding: 8px;
    font-size: larger;
    font-weight: bold;
    padding: 5px;

}

h1, h4 {
    display: grid;
    place-content: center;
    font-weight: bold;
}

section {
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px
}

section:first-child {
    border-radius: 6px;
    box-shadow: 5px 5px;
    background-color:#f5f6fa ;
}

section:nth-child(2) {
    border-radius: 6px;
    background-color: #f5f6fa;
    box-shadow: 5px 5px;

}

.footer {
    border-radius: 6px;

}

.footer-list {
    list-style-type: "\1F680";
    max-width: auto;
}

.list-info-form {
    list-style-type: "\1F393";  
}

.list-info-lab {
    list-style-type: "\1F528" ;
}

.text-description {
    display:block;
    text-align: center;
    font-size: large;
}


@media screen and (min-width: 992px) {

    .main {
        height: auto;
        width: auto;
  
    }

    .description {
        display: flex;
        flex-direction: column;
        max-height: 300px;
    }

    .text-description {
        display: block;
        text-align: center;
        max-width: 1000px;
        height: 200px;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: auto;
        
    }
    .list-info-form , .list-info-lab {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 900px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: auto;
        margin: 20px 100px 50px;
    }

    .footer-list {
        width: 800px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: justify;
        align-items: justify;
        
    }




}