
@media screen and (min-width: 992px) {
    ul {
        display: flex;
        list-style-type: none;
        
        
    }

    li {
        width: 1fr;
        border: solid 1px #bdc3c7;
        padding: 10px;
        margin: 15px;
        text-align: center;
    }

    h3 {
        text-align: center;
    }
    footer {
        display: flex;
        align-items: center; 
        justify-content: space-between;
        
    }
    a {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 30px;
        padding: 10px;
    }
}