@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito:wght@600;700&display=swap');

body{
  background-image: url("../assets/img/bg.png");
  background-size: 20%;
  position: relative;
  color: #452920;
}

main{
  padding: 4rem 0 8rem 0;
}

h1{
  margin: 2rem 0;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 5rem;
  font-family: 'Cherry Bomb One', cursive;
}

h2{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}