body {
  box-sizing: border-box;
  background-color: #eef2ff;
  margin: 0;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: inherit;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover {
  color: #6366f1;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 0.9rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1 / 4;
  background-color: #6366f1;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #c7d2fe;
  margin-top: 1rem;
}

footer > span {
  color: rgba(238, 242, 255, 45%);
  font-size: 0.8em;
}

header {
  grid-column: 1 /4;
  grid-row: 1 / 2;
  border-bottom: 1px solid #e0e7ff;
  font-weight: bold;
  margin-bottom: 1rem;
}

img {
  width: 90%;
  height: 80%;
  margin: auto;
  border-radius: 7px;
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: column;
  border: 1px solid #d9e0ff;
  border-radius: 7px;
  padding: 1rem;
  width: 90%;
  margin: 1rem;
}

.icon {
  max-width: 1.3em;
  height: unset;
}
.caption {
  color: #9ca3af;
  font-size: 14px;
}

.article:hover {
  box-shadow: 2px 1px 16px #d9e0ff;
  cursor: pointer;
}

@media only screen and (min-width: 880px) {
  .flex-wrapper {
    display: contents;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1 /4;
    grid-row: 1 / 2;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto 4rem;
    gap: 1.25rem;
  }

  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }

  img {
    width: 100%;
    height: 100%;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
