.nav-link {
   display: inline-block;
   padding-top: 0.5em;
   padding-bottom: 0.9em;
   width: 100%;
   transition: background-color 0.3s;

   &:hover {
      background-color: var(--color-links-hover);
   }
}

.footer-link {
   transition: color 0.3s;

   &:hover {
      color: var(--color-links-hover);
      background-color: transparent;
   }
}