@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    min-width: 425px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    background-image: url("/img/imagen-fondo-divpanda.jpg");
    text-align: justify;
}

#header {
    border: 2px solid azure;
    border-radius: 7px;
    background-image: url("/img/imagen-fondo-divpanda.jpg");
    text-align: center;
}

.mi-nombre {
    -webkit-text-fill-color: #00ffffeb;
    -webkit-text-stroke: 1px #008b8b7d;
    padding: 0 20px;
    font-size: 33px;
}

#p-mi-nombre {
    margin: 15px 0px;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
}

.mi-nombre span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

code {
    color: cyan;
    background-color: #212529;
    padding: 2px 4px;
    vertical-align: text-bottom;
}



ul {
    padding-left: 30px;
}

#hoja-de-vida {
    background-color: rgba(53 51 51 / 0.36);
    border-radius: 15px;
}

h1,
h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
}

#introduccion,
#hoja-de-vida,
#experiencia-previa,
#hobbies-intereses,
#encuéntrame {
    border: 2px solid azure;
    padding: 13px;
    border-radius: 7px;
}

#resaltable {
    font-size: 18px;
    background-image: url("/img/imagen-fondo-divpanda.jpg");
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid azure;
    padding: 15px;
    text-align: center;
}

.bold {
    font-weight: bold;
}

#encuéntrame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("/img/imagen-fondo-divpanda.jpg");
}

.botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-botones-article {
    width: 100%;
    display: flex;
    justify-content: center;
}


#boton-platzi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 93px;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid azure;
    text-decoration: none;
    background-repeat: no-repeat;
    background-image: url("/img/platzi-logo.png");
    background-position: 9px;
    background-size: 25px;
}

#boton-platzi:hover {
    background-color: rgba(153, 205, 50, 0.295);
}

#boton-freecodecamp {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 159px;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid azure;
    text-decoration: none;
    background-image: url("/img/freecodecamp-logo.png");
    background-repeat: no-repeat;
    background-position: 9px;
    background-size: 25px;
    align-items: center;
}

#boton-freecodecamp:hover {
    background-color: #575353be;
}

#boton-github {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid azure;
    text-decoration: none;
    background-image: url("/img/github-logo-dark.png");
    background-repeat: no-repeat;
    background-position: 9px;
    background-size: 25px;
}

#boton-github:hover {
    background-color: #575353be;
}

#boton-contáctame {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 35px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid azure;
    text-decoration: none;
}

#boton-contáctame:hover {
    background-color: #575353be;
}

.footer-body {
    text-align: center;
    opacity: .9;
}

@media screen and (min-width: 800px) {
    body {
        max-width: 1100px;
    }

    br {
        display: none;
    }

    #introduccion,
    #experiencia-previa,
    #hobbies-intereses,
    #encuéntrame {
        text-align: justify;
        padding: 8px 2em 20px 2em;
    }

    #hobbies-intereses {
        padding: 0 4em;
    }

    #resaltable {
        font-size: 20px;
        padding: 0;
    }

}