

@media only screen and (max-width: 400px) {
    body {
        margin: 0;
        color: whitesmoke;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
    }

    header {
        background-image: url(/fotos/fotofondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
    }

    #logo {
        width: 250px;
        height: 250px;
    }

    a:link,
    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .form-group {
        accent-color: #ff6600;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    textarea {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width:100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        border: 1px solid #ff6600;
        border-radius: 4px;
        


    }

    

    button {
        background-color: #ff6600;
        color: #1c1919;
        border-radius: 6px;
        border: 2px solid #1c1919;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50px;
        margin-left: 10%;
    }

    fieldset {
        border-radius: 4px;
        border: 1px solid #ff6600;
        display:block;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        margin: 0;

    }
    

   .type {
        border-radius: 4px;
        border: 1px solid #ff6600;
        width: 100%;
        display: flex;

    }
    #redes {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-image: url(/fotos/Fondoredes.png);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

   
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        margin: 0;
        color: whitesmoke;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
    }

    header {
        background-image: url(/fotos/fotofondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
    }

    #logo {
        width: 250px;
        height: 250px;
    }

    a:link,
    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .form-group {
        accent-color: #ff6600;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    textarea {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width:100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        border: 1px solid #ff6600;
        border-radius: 4px;
        


    }

    

    button {
        background-color: #ff6600;
        color: #1c1919;
        border-radius: 6px;
        border: 2px solid #1c1919;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50px;
        margin-left: 10%;
    }

    fieldset {
        border-radius: 4px;
        border: 1px solid #ff6600;
        display:block;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        margin: 0;

    }
    

   .type {
        border-radius: 4px;
        border: 1px solid #ff6600;
        width: 100%;
        display: flex;

    }
    #redes {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-image: url(/fotos/Fondoredes.png);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

   
} 

@media only screen and (min-width: 961px) { 
    header {
        background-image: url(/fotos/fotofondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: whitesmoke;
        line-height: 1.2;
        padding: 5vw 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border: 2px solid black;
    }
    
    #logo {
        width: 100%;
        width: 350px;
        height: 350px;
        flex-wrap: wrap;
    }
    
    nav {
        width: 100%;
        grid-column: 1 /4;
        grid-row: 1 / 2;
        color: whitesmoke;
    }
    a:link, a:visited {
        color: whitesmoke;
        text-decoration: none;
        
       }
       
    
    #contact {
        font-weight: bold;
        margin: 15px;
        color: whitesmoke;
        margin-left: 30%;
    
    }
    
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 40px;
        font-size: 20px;
        font-style: normal;
        margin-left: 20%;
        margin-right: 30%;
        color: whitesmoke;
    }
    
    body {
        margin: 0 auto;
        background-color: #303031;
    
    }
    
    .form-group {
        margin: 15px;
        accent-color: #ff6600;
        margin-left: 30%;
    
    
    
    }
    
    textarea {
        display: block;
        width: 100%;
        resize: vertical;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    label input:not([type="radio"], [type="checkbox"]) {
        width: 100%;
    
    
    }
    
    label {
        font-weight: bold;
        font-size: 15px;
        display: block;
        padding: 5px 0;
        color: whitesmoke;
    
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        border: 1px solid #ff6600;
        border-radius: 4px;
        width: 50%;
    
    }
    
    #radio {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        accent-color: #ff6600;
    
    
    
    }
    
    #radio {
        display: inline;
    }
    
    button {
        background-color: #ff6600;
        color: #1c1919;
        margin: 15px;
        width: 100px;
        height: 50px;
        font-weight: bold;
        font-size: medium;
        border-radius: 6px;
        border: 2px solid #1c1919;
        margin-left: 30%;
    }
    
    fieldset {
        border-radius: 4px;
        border: 1px solid #ff6600;
        width: 50%;
    
    }
    
    select {
        border-radius: 4px;
        border: 1px solid #ff6600;
    
    }
    
    #redes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        background-color: whitesmoke;
        border: 2px solid black;
        background-image: url(/fotos/Fondoredes.png);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    
    }
}