$alpha-black: #00000080;
$alpha-white: #ffffff40;
$vivid-sky-blue: #00d4ff;
$congress-blue: #074b9e;
$venice-blue: #067086;
$bluewood: #334155;
$geyser: #e2e8f0;
$white: #fff;
$ebony: #0f172a;
$blue-chill: #0e7490;
$slate: #94a3b8;
