@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

// Variables
$athensGray: #f5f7f9; //bgColor
$cuttySark: #566b78; //textColor
$mineShaft: #333333; //subtitleColor
$amaranth: #e81c4f; //hoverColor
$shiraz: #9b0d31; //activeColor
$white: #ffffff; // whiteColor
$gallery: #f0f0f0; //gradiante
$fontFamily: 'Roboto', 'Helvetica', 'Arial', sans-serif;
