$Dawn-Pink: #faf4f4;
$Cod-Gray: #181818;
$Cod-Gray-Trans: #18181878;
$Bright-Turquoise: #3df0f0fa;
$Robin-Egg-Blue: #3dc7c7a6;
$Granite-Gray: #5f5f5f;
$Mine-Shaft: #333333;
$transparent: #ffffff00;
$Smoky-Black: #040F0F;


/** Breakpoints */ 
$breakpoint-mobil: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1440px;