// Custom Properties (CSS Variables)

:root{
    --color-white: #ffffff;
    --color-seashell: #f1f1f1;
    --color-gray: #8d8d8d;
    --color-silver: #cac6c6;
    --color-mine-shaft: #363636;
    --color-alice-blue: #f0f8ff;
    --color-indigo: #534FC9;
    --color-midnight-moss: #041004;
}

// ASS Variables
$breakpoint-large: 992px;