@use "../../styles/tools";

.card {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding: 16px 16px 32px;
  box-shadow: 0px 6px 16px rgba(27, 91, 100, 0.25);
  background: var(--color-white);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.card img {
  object-fit: cover;
  aspect-ratio: 2/1;
  height: 200px;

  @include tools.desktop {
    height: 220px;
  }
}

.card section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px 0;
  height: 100%;
}

.card header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-tags {
  display: flex;
  gap: 0 12px;
}

@include tools.desktop {
  .card.is-extended {
    background: var(--color-aquarius-100);
    flex-direction: row;
    grid-column: 1 / 4;
    padding: 48px;
    gap: 48px;

    & > img {
      width: 660px;
      height: auto;
    }

    & > section {
      gap: 12px 0;
    }
  }

  .card.is-reversed {
    flex-direction: row-reverse;
  }
}
