$mine-shaft: #333;
$tundora: #444;
$white-ice: #f0fdfa;
$white: #fff;
$alto: #d3d3d3;
$gray: #808080;
$dove-gray: #646464;
$eden: #115e59;
$surfie-green: #0f766e;
$blue-chill: #0d9488;
$mountain-meadow: #10b981;
$green-haze: #059669;
