:root {
    --color-cornflower:#93C6E7;
    --color-black: #000;
    --color-french-pass:#B9F3FC;
    --color-porcelain:#ecf0f1;
    --color-mine-shaft:#3b3b3b;
    --color-athens-gray: #f5f7f9;
    --color-mystic:#d8dee9;
    --color-mako:#43454b;
    --color-danube:#69C;
    --color-abbey:#4b4b4e;
    --color-white:#FFF;
    --color-jelly-bean:#2C74B3;
    --color-alto:#ddd;
    --color-concrete:#f2f2f2;
    --color-dusty-gray:#9B9292;
    --color-lightgray:#d3d3d3;
}