@use "tools";



.main-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    gap: 15px 0;

    @include tools.container-width;

    @include tools.desktop {
        flex-direction: row;
    }
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 70px;

    @include tools.desktop {
        gap: 36px;
    }
   
}

.post-list-container {
    display: flex;
    flex-direction: column;
    gap: 50px 0;

}

.post-list {
    display: grid;
    gap: 32px 0;

    @include tools.desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(450px, auto);
        gap: 37px;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px 0;
    margin: 50px auto;

    @include tools.desktop {
        margin: 150px auto;
    }
    
}