$Flamingo: #E8521C;
$Mine-Shaft: #333333;
$Emperor: #555555;
$Cutty-Sark: #566b78;
$Danube: #6699CC;
$Aluminium: #A7ADBA;
$Mystic: #D8DEE9;
$Gallery: #EEEEEE;
$Athens-Gray: #F5F7F9;
$Alabaster: #FBFBFB;