html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  width: 100%;
}

nav {
  display: flex;
  overflow: hidden;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
}

.menu_items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
}

.menu_items li:hover,
li.active {
  background-color: darkgrey;
  transition: .4s;
}

.btn_menu {
  margin-right: 10px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 50px;
}

@media screen and (max-width: 992px) {

  .btn_menu {
    display: inline-flex;
    margin: 14px 16px;
  }

  .menu_items {
    position: fixed;
    width: 100vw;
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
    margin: auto;
  }

  .menu_items li:hover { 
    background: #e2e2e2;
  }

  .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }

  .menu_items li a:hover, a:active{
    color: #000;
  }

  .container {
    display: flex!important;
    flex-direction: column;
    align-items: center;
  }

 }

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }

  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
}

img {
  width: 100%;
}

.posts {
  border: 2px solid #e2e2e2;
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
}

.posts p {
  text-align: justify;
}

.avatar {
  width: 50px;
}

.date {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

/*estilos para el pie de pagina*/
.copy {
  background-color: #eee;
  color: #000;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

/*estilo para el texto que contiene el pie de pagina*/
.copy p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0%;
}

.copy a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0%;
}