* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 10px 50px;
    line-height: 1.5;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(176, 174, 174);
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px auto auto;
    gap: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(187, 187, 187);
}

nav ul li a:hover {
    cursor: pointer;
    color: black;
}

.active {
    color: black;
}

div:last-child {
    grid-column: 1 / 4;
  }

.item img {
    width: 100%;
    height: auto;
}

input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(157, 155, 155);
    width: 200px;
    background: #eeecec;
}