$white: #ffffff;
$merino: #FBF9F4;
$calico: #E2C29D;
$westar-09: rgba(227, 225, 221, 0.9);
$dove-gray: #666666;
$cod-gray: #161616;
$cod-gray-06: rgb(22, 22, 22, 0.6);

$main-gap: 30px;
$breakpoint-large: 992px;