@media screen and (max-width: 730px) {
  
    input[type="search"] {
      width: 40%;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 5%;
    }
    .container ul {
      display: flex;
      gap: 12px;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
    .container div:hover {
      transform: scale(1.07);
      transition: transform 0.5s;
      
    }
  }