$prussian-blue: #007736b7;
$outer-space: #302d2d;
$charcoal: #41494e;
$electric-blue: rgb(37, 209, 200);
$jungle-green-alpha: #09f18594;
$jungle-green: #09f185;
$medium-sea-green: rgb(56, 196, 119);
$light-sea-green: rgba(27, 250, 157, 0.664);
$electric-blue-2: rgb(37, 209, 200);
$medium-spring-green: rgba(27, 250, 157, 0.89);