@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$Poppins: "Poppins", sans-serif;

$clam-shell: #d5b4b4;
$wafer: #e4d0d0;
$spicy-pink: #867070;
$dawn-pink: #f5ebeb;
$white: #fff;
$black: #000;
$opaque: #000000a8;
