/* ---- Reset ----*/

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #ececec;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
  box-sizing: inherit;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,h2,h3,p {
    margin: 0;
  }
  
  [id] {
    scroll-margin-top: 9ex;
  }
  
  
  /* ---- Styles - HEADER ----*/
  
  .header {
    padding: 1rem;
    border-bottom: 1px solid #B5B5B5;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    display: none;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  
  .logo a{
    font-size: 1.2rem;
    font-weight: bold;
    color: #2F004F;
    text-decoration: none;
  }
  
  .logo span {
    font-size: 1.5rem;
    color: #2F004F;
  }
  
  .dark-ligth-mode span {
    font-size: 1.2rem;
  }
  
  
  /* ---- Styles - PRESENTATION ----*/
  
  main {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .presentation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .presentation p{
    margin: 0;
    color: #8D8592;
  }
  
  .presentation-name h1 {
    margin: 0;
    color: #2F004F;
  }
  
  .presentation-name h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: #7D5597;
  }
  
  .presentation-img img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #2F004F;
  }
  
  
  /* ---- Styles - ABOUT----*/
  
  .about {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #DBCFE4;
    border-radius: 0.5rem;
  }
  
  .about h2,h3 {
    color: #2F004F;
  }
  
  .about-social {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .p-contact {
    color: #2F004F;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .social-media {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .social-media a {
    padding: 0.5rem;
    color: #2F004F;
    border: 1px solid #7D5597;
    border-radius: 0.5rem;
    background-color: #CAB6D7;
    cursor: pointer;
  }
  
  .social-media a:hover {
    background-color: #DBCFE4;
  }
  
  .social-media-name p {
        font-size: 0.9rem;
  }
  
  
  /* ---- Styles - PROJECTS----*/
  
  .projects {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
  }
  
  .projects h2 {
    color: #2F004F;
  }
  
  .projects-names-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .projects-names {
    max-width: 250px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #2F004F;
    border-radius: 0.5rem;
    background-color: #DBCFE4;
  }
  
  .projects-names img {
    border-radius: 0.5rem;
  }
  
  .tools {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .html {
    padding: 0.3rem;
    color: #111111;
    background-color: #FAAF82;
    border-radius: 0.5rem;
  }
  
  .css {
    padding: 0.3rem;
    color: #111111;
    background-color: #9EAEFF;
    border-radius: 0.5rem;
  }
  
  .js {
    padding: 0.3rem;
    color: #111111;
    background-color: #F9F4A4;
    border-radius: 0.5rem;
  }
  
  .demo-repo {
    display: flex;
    gap: 0.5rem;
  }
  
  .demo-repo a {
    color: #2F004F;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .demo-repo a:hover {
    transform: scale(1.1);
  }
  
  /* ---- Styles - CONTACT----*/
  
  .contact {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .contact h2 {
    color: #2F004F;
  }
  
  .form {
    width: 320px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #2F004F;
    border-radius: 0.5rem;
    background-color: #DBCFE4;
  }
  
  
  label, input {
    width: 100%;
    vertical-align: middle;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
  }
  
  textarea {
    padding: 1rem;
    display: block;
    width: 100%;
    resize: none;
    border-radius: 0.5rem;
  }
  
  button {
    padding: 16px 60px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: 1px solid #2F004F;
    background-color: #6801A8;
    color: #ececec;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2F004F;
  }
  
  
  /* ---- Styles - FOOTER----*/
  
  .footer {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #2F004F;
  }
  
  .footer strong {
    color: #2F004F;
  }
  
  
  /* ---- Styles - MOBILE-NAV ----*/
  
  .mobile-nav {
    padding: 0.5rem;
    position: sticky;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid #2F004F;
    background-color: #ececec;
  }
  
  .mobile-nav-ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .mobile-nav-ul li {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: #2F004F;
  }
  
  
  .mobile-nav-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
  
  .mobile-nav-li a {
    color: #2F004F;
  }
  
  .mobile-nav-li a:hover {
    color: #7D5597;
  }
  
  .mobile-nav-li span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  
  /* ---- Styles - MediaQuerys - DESKTOP ----*/
  
  @media screen and (min-width: 700px) {
  
    .page {
        margin: 0 auto;
        width: 850px;
        display: flex;
        flex-direction: column;
    }
  
    .header {
        position: sticky;
        top: 0;
        background-color: #ececec;
    }
  
    .nav {
       display: block;
    }
  
    .nav-ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #2F004F;
        font-weight: bold;
        list-style-type: none;
        cursor: pointer;
    }
  
    .nav-ul a {
        color: #2F004F;
    }
  
    .nav-ul a:hover {
        color: #7D5597;
    }
  
    .mobile-nav {
        display: none;
    }
  
    main {
        flex-direction: row;
    }
  
    .about-social {
        padding-right: 3rem;
    }
  
    .projects, .contact h2 {
        padding-left: 1.2rem;
    }
  
    .form {
        width: 700px;
    }
  }