@use "../tools";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px 0;
  padding: 16px;
  box-shadow: 0px 6px 16px rgba(27, 91, 100, 0.25);
  background: var(--color-white);
}

.card:nth-child(4n) {
  background: var(--color-aquarius-100);

  @include tools.desktop {
    grid-column: 1 / 4;
  }
}

.card section {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.card header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  gap: 0 12px;
  align-items: center;
}

.author img {
  width: 100%;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
}

.author span {
  color: var(--color-black-pearl-900);
}

.reading-time {
  color: var(--color-black-pearl-400);
}