.tag {
  padding: 8px;
  background: var(--color-aquarius-100);
  border-radius: 2px;

  font-weight: regular;
  font-size: 13px;
  line-height: 19px;
}

.tag a {
  color: var(--color-aquarius-900);
}
