// Colores

$color-azure: #f0ffff;
$color-martinique: #191924;
$color-black: #000000;

// Background Images

$img-stars: url("../img/imagen-fondo-divpanda.jpg");
$img-autor: url("../img/autor-preview-foto.webp");
$img-body-background: url("../img/image-background-body.jpeg");