body{
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1, h2, h3, strong {
    color: #333;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
    padding: 1em;
    vertical-align: text-bottom;
    border-left: 2px solid #69c;
}

address a {
    color: #e81c4f;
    text-decoration: none;
}

.nav{
    display: inline;
    font-size: 20px;
    text-align: center;
    word-spacing: 20px;
}

a {
    color: black;
    text-decoration: none;
    align-content: center;
}

.table{
    position: sticky;
    width: 100%;
    height: 100%;
    text-align: justify;
}

.img{
    padding: 1em 2em;   
}

.footer{
    color: gray;
}
