@use "base.scss";

main {
	padding: 0 20px;
}

$color-main: #0074d9;

@mixin center($ancho, $alto) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: $ancho;
	height: $alto;
}

.button {
	background: $color-main;
	color: white;
	padding: 16px 64px;
	border-radius: 8px;
	border: none;

	@include center(200px, 50px);

	@if $color-main == #0074d9 {
		&:hover {
			background-color: darkblue;
		}
	}
}

@for $i from 1 through 5 {
	.text-#{$i} {
		font-size: $i * 10px;
	}
}
