:root {
    --shapphire: #3a44a6;
    --corn-flower-blue: #74a0f1;
    --gray: #8e8e8e;
    --white: #ffffff;
    --dodger-blue: #536dfe;

    --periwinkle-gray: #c5cae9;
    --chestnut-roses: #cd5c5c;
    --san-marino: #3f51b5;
    --shapphire-2: #303f9f;
}