@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

//Variables
$white: #fff;
$black: #000;
$blue-chalk: #f4eeff;
$east-bay: #424874;
$cold-purple: #a6b1e1;
$moon-raker: #dcd6f7;
$transparent: transparent;

$PT-Sans: "PT Sans", sans-serif;

$no-margen: 0 auto;

$contenedor-max-widths: (
  sm: 750px,
  md: 970px,
  lg: 1170px
);