/*=== RESET ===*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*=== VARIABLES ===*/ /*=== BASE ===*/
/*--- General ---*/
body {
  width: 100%;
  background-color: #f6f6f6;
}

main {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

.date {
  line-height: initial !important;
}

img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  float: left;
}

.img-box {
  background: #EB3349;
  background: -webkit-linear-gradient(316deg, #F45C43, #EB3349, #F45C43, #EB3349);
  background: linear-gradient(316deg, #F45C43, #EB3349, #F45C43, #EB3349);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: 0 0;
  overflow: hidden;
  animation: move-gradient 6s linear infinite;
}

@keyframes move-gradient {
  to {
    background-position: 100% 100%;
  }
}
.container-row {
  display: flex;
  justify-content: space-between;
}

.container-col {
  display: flex;
  flex-direction: column;
}

.menu,
.header,
.articles {
  padding: 26px 15px;
}

/*--- Menu ---*/
.menu {
  width: 100%;
  padding: 26px 30px;
}

.menu .container-row {
  max-width: 1536px;
  margin: 0 auto;
  align-items: center;
}

.menu .logo {
  width: 46px;
  height: 46px;
  margin-top: 10px;
  border-radius: 0 12px 12px 12px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
}

.menu a {
  color: #707070;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.menu a.selected {
  color: #000000;
  font-weight: bold;
}
.menu a:hover {
  color: #000000;
}

/*--- Header ---*/
.header {
  max-width: 1172px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 0 30px;
  box-sizing: content-box;
}

.header article {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

.header .container-col {
  width: 100%;
}

.header h1 {
  margin-top: 18px;
  font-size: 32px;
}

.header .date {
  order: -1;
  font-size: 14px;
}

.header p {
  margin-top: 20px;
  color: #707070;
  font-size: 16px;
  line-height: 26px;
}

/*--- Secctions ---*/
.articles {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: minmax(250px, auto);
  grid-gap: 74px 33px;
  box-sizing: content-box;
}

.articles:first-of-type {
  margin-bottom: 74px;
}

.articles article {
  display: flex;
  flex-direction: column;
}

.articles h1 {
  margin-top: 16px;
}

.articles .date {
  order: -1;
  font-size: 12px;
}

.articles p {
  margin-top: 18px;
  color: #707070;
  font-size: 14px;
  line-height: 26px;
}

.category {
  margin: 104px 0;
  padding: 42px 0px;
  background-color: rgba(112, 112, 112, 0.1);
  background-color: #000000;
  display: none;
}

.category .container-col {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;
}

.category h2 {
  margin-bottom: 17px;
  font-size: 14px;
  color: #707070;
  text-transform: uppercase;
}

/*--- Footer ---*/
.footer {
  width: 100%;
  margin-top: 104px;
  padding: 50px 0;
  background-color: #000000;
  position: relative;
  color: #707070;
  text-align: center;
  font-size: 12px;
}

.arrow-top {
  padding: 12px 22px;
  border-radius: 0 12px 12px 12px;
  background-color: #000000;
  position: absolute;
  top: -52px;
  right: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.arrow-top:hover {
  opacity: 0.8;
}

/*--- Images ---*/
.header .img-box {
  border-radius: 0 24px 24px 24px;
}

.header img {
  aspect-ratio: 112/69;
}

.articles .img-box {
  border-radius: 0 20px 20px 20px;
}

.articles img {
  aspect-ratio: 355/219;
}

.category .img-box {
  border-radius: 0 12px 12px 12px;
}

.category img {
  aspect-ratio: 13/8;
}

.header img,
.articles img,
.articles img {
  width: 100%;
}

/*=== DESKTOP ===*/
@media screen and (min-width: 425px) {
  .header h1 {
    font-size: 46px;
  }
  .menu,
  .header,
  .articles {
    padding: 0 30px;
  }
}
@media screen and (min-width: 675px) {
  .articles {
    grid-template-columns: repeat(2, minmax(250px, auto));
  }
}
@media screen and (min-width: 930px) {
  .articles {
    grid-template-columns: repeat(3, minmax(250px, auto));
  }
}
@media screen and (min-width: 1100px) {
  .header article {
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
  }
  .articles {
    grid-gap: 104px 54px;
  }
  .articles:first-of-type {
    margin-bottom: 104px;
  }
}
@media screen and (min-width: 1170px) {
  .articles:first-of-type {
    margin-bottom: 0px;
  }
  .category {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
