$cuttySark: #566b78;
$alabaster: #fafafa;
$mineShaft: #333; 
$amaranth: #e81c4f;
$darkGray: #808080;
$sepia:#713f12;
$corn:#eab308;
$gray:#ffffff80;
$blackT:#00000080;
$candleLight:#facc15;
$pirateGold:#ca8a04;
$aliceBlue:#f0f8ff;
$teal:#008b8b;
$alto:#dcdcdc;
$white: #ffffff;
$lightGray: #d3d3d3;
$papayawhip: #ffefd5;