html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	color: #333;
	background-color: #fafafa;
}

.page {
	max-width: 800px;
	margin: 100px auto;
	padding: 0 40px;
	font-family: Arial, Helvetica, sans-serif;
}


.form-group {
	margin: 20px 0;
}

label, input {
	vertical-align: middle;
}

label, input:not([type="radio"], [type="checkbox"]) {
	width: 100%;
}

textarea {
	display: block;
	width: 100%;
	resize: vertical;
}

label, legend {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #444;
}

input[type="text"], input[type="email"], textarea {
	background: white;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 8px 10px;
	color: #333;
}

.help {
	font-size: 12px;
	margin-top: 10px;
	color: gray;
}

button {
	padding: 16px 60px;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #713f12;
	background: #eab308;
	color: #333;
	text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

button:hover {
	background: #facc15;
}

button:active {
	background: #ca8a04;
	box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
