@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

img {
    border-radius: 25%;
    transition: 1s all;
}

img:hover {
    transform: scale(1.05) rotate(5deg);
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

h1,
h2,
strong {
    color: #333;
}

#description {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    background: linear-gradient(lightgoldenrodyellow, lightskyblue);
    border-radius: 5px;
    padding: 0.25rem;
}

span {
    font-weight: bold;
    font-style: italic;
}

.contact {
    width: 100%;
}

.contact h2 {
    text-align: center;
    text-transform: uppercase;
}

#courses {
    width: 100%;
    text-align: center;
}

#courses h3{
    text-align: left;
}

table {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    border-spacing: 0;
    min-width: 150px;
}

tr > td:first-child {
    border-right: 1px solid lightseagreen;
}

td{
    border-bottom: 1px solid lightseagreen;
    padding: 0.5rem;
}


tbody tr:last-child td {
    border-bottom: none;
}

form {
    width: 80%;
    margin: 0 auto;
    background-color: hsla(160, 100%, 75%, 50%);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 15px hsla(160, 100%, 75%, 60%);
}

div {
    width: 100%;
}

label {
    display: inline-block;
    width: 25%;
    padding: 0.2rem 0;
}

input,
select {
    width: 25%;
}

fieldset label {
    display: block;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px lightgrey;
    transition: 0.5s all;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

footer {
    margin-top: 2rem;
    text-align: center;
}