@use 'variables';

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  color: variables.$primary;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  min-width: 480px;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #69c;
  padding: 1em;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}