$Alabaster: #f8f8f8;
$Alto: #dcdcdc;
$Alto-approx: #d7d7d7;
$Cardinal-Pink: #940253;
$RegentStBlue: #add8e6;
$White: #ffffff;
$Black: #000000;
$Jazzberry-Jam: #bb0c6c;
$Mercury: #e6e6e6;
$Dove-Gray: #666666;
$Gray: #808080;
$Silver: #bab9b9;
$Mine-Shaft: #222222;
$Pompadour: #670039;
$Black-Rock: #080331;
