@use "tools";

body {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-black-pearl-50);
}

main {
  display: flex;
  flex-direction: column;
}
