$gallery-color: #ececec;
$nobel-color: #B5B5B5;
$ripe-plum-color: #2F004F;
$purple-color: #6801A8;
$affair-color: #7D5597;
$snuff-color: #DBCFE4;
$lavender-gray-color: #CAB6D7;
$mamba-color: #8D8592;
$hit-pink-color: #FAAF82;
$melrose-color: #9EAEFF;
$texas-color: #F9F4A4;