:root {
    --color-alabaster:#FAFAFA;
    --color-black: #000;
    --color-cedar:#3E1C14;
    --color-carrot-orange:#ED9121;
    --color-asphalt:#130A06;
    --color-brown-pod:#401801;
    --color-brown:#964B00;
    --color-gray:#808080;
    --color-roof-terracotta:#B02E21;
}