@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

html {
    box-sizing: border-box;
    color-scheme: dark;
}

* {
    box-sizing: inherit;
}

body {
    display: grid;
    place-items: center;
    margin: 0 auto;
    min-width: 400px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color: #d6dee6;
    background-image: url("/img/fondo-divpanda-cv-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
    max-width: 425px;
}

h1 {
    margin: 10px 0px 10px 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    background-color: #353333a2;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #f0ffff;
}

.form-group {
    margin: 20px 0;
    display: block;
}

label,
input:not([type="checkbox"]) {
    width: 100%;
}

label {
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

input:not([type="checkbox"]),
textarea {
    background-color: #5250509f;
    background-size: contain;
    color: #d5dee6;
    border: 1px solid #f0ffff;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
}

::placeholder {
    color: #d5dee6;
}

.container-submit-button {
    display: flex;
    justify-content: center;
}

button {
    /* background-image: url("/semana-3/student-cvs/TeamPanda-5141/img/imagen-fondo-divpanda.jpg"); */
    background-color: rgba(53 51 51 / 0.36);
    color: rgb(213, 222, 230);
    border: 1px solid azure;
    border-radius: 15px;
    height: 40px;
    width: 95px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #525050;
}

button:active {
    background-color: #5250505c;
}

footer {
    font-weight: bold;
    text-align: center;
}