$Scooter: #2bb7d0;

$AliceBlue: #f0f8ff;

$DownRiver: #0c314c;

$Alto: #dcdcdc;

$WildSand: #f5f5f5;

$BlackPearl: #04031d;

$Corn: #ecab07;

$PirateGold: #b57c00;

$ParisDaisy: #ffff72;

$BlackRussian: #000001;

$EasternBlue: #2284b1;

$DeepSeaGreen: #0c5868;