// Custom Properties (CSS Variables)

:root{
    --color-white: #ffffff;
    --color-alto: #dcdcdc;
    --color-wild-Sand: #f5f5f5;
    --color-black: #000000;
    --gold1:#f4bd76;
    --gold2:#f6cb8f;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1a1b1f;
    --black2:#30553b;
    --shadow: 0 8px 8px;
    --color_shadow:#00000033;
}

// ASS Variables
$breakpoint-large: 992px;