.result {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.result-buttons {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.result-close {
	position: absolute;
	top: 0;
	right: 0;
}