:root {
    --outer-space: #263d36;
    --emperor: #555555;
    --cutty-sark: #566b78;
    --link-water: #dde4f5;
    --mine-shaft: #333333;
    --chesnut-rose: #cd5c5c;
    --white: #ffffff;
    --east-bay: #3f3b6c;

    --periwinkle-gray: #c5cae9;
    --white-lilac: #e8eaf6;
    --san-marino: #3f51b5;
    --sapphire: #303f9f;
    --moody-blue: #7986cb;
    --bay-of-many: #283593;
}